.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #818ae9;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: text-decoration 0.2s;
}

.nav-links a:hover {
  text-decoration: none;
  color:burlywood
}
